*{
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.8) url('images/bg.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1 {
    color: #c29e5c;
    margin-left: 10px;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: 3.5s;
}

.navbar ul li a:hover {
    box-shadow: 0 3px 50px #c29e5c inset, 0 3px 50px #c29e5c inset, 0 3px 50px #c29e5c inset,  0 3px 50px #c29e5c inset;
}

.content {
    position: absolute;
    color: #fff;
    top: 40%;
    left: 30%;
}

.content h3 {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%;
}

.content h1 {
    font-size: 50px;
}

.content p {
    position: absolute;
    margin-top: 17px;

}

.searchbar {
    position: absolute;
    margin-top: 28%;
    margin-left: 42%;
}

.searchbar input {
    outline: none;
    border: none;
    padding: 12px 40px;
    size: 1em;
    width: 100%;
}

.submit {
    position: absolute;
    margin-top: 31%;
    margin-left: 48%;
}

.submit a {
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: #c29e5c;;
}

/* test for landing page images */
div.images-portrait {
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div.images-portrait img {
    width: 400px;
    height: 600px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000000;
    cursor: pointer;
    transition: 400ms;
}

div.images-portrait img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}
