<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>OOP-Final</title>
    <script src="assets/javascript/index-script.js"></script>
    

</head>
<body>
    <nav>
        <div class="logo">OOP</div>
        <img src="../assets/images/slulog.png" id="slulog">

        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="#" class="icon" onclick="toggleLoginForm()"><img src="assets/images/profile.png" alt="Login"></a></li>
                </ul>
            </nav>
        </div>

        <div class="login-form" id="loginForm">
            <form method="post" action="/login">
                <div class="form-title">OOP</div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Email/username" required>
            
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <div class="remember-forgot">
                <input type="checkbox" id="rememberMe" name="rememberMe">
                <label for="rememberMe"> Remember me </label>
                <a href="#" class="forgot-password" onclick="showForgotPassword()">Forgot Password?</a>
                </div>

            
                <button type="button" class="close-btn" onclick="toggleLoginForm()">Close</button>
                <button type="submit" id="login-button" onclick="" value="Login">Login</button>
            </form>
        </div>

    </nav>

    <main>
        <div class="content-container">
            <video id="vidPlayer" autoplay mute>
                <source src="assets/videos/sample.mp4" type="video/mp4">
            </video>
        </div>
    </main>

    <footer>
    <img src="../assets/images/EDITED-FOOTER.png" id="slufooter">
    </footer>
</body>
<script>
    // function goToPage() {
    //     fetch('/gotologs')
    //         .then(response => response.json())
    //         .then(data => {
    //             if (data.success) {
    //                 if (data.usertype === 'admin') {
    //                     window.location.href = './admin.html';
    //                 } else if (data.usertype === 'user') {
    //                     window.location.href = './manager.html';
    //                 } else {
    //                     alert('Unexpected user type: ' + data.usertype);
    //                 }
    //             } else {
    //                 alert('Failed to go to the desired page');
    //             }
    //         })
    //         .catch(error => {
    //             console.error('Error during request to go to Logs:', error);
    //         });
    // }
</script>

</html>