@font-face {
    font-family: 'Monoton';
    src: url('assets/fonts/Monoton-Regular.ttf') format('ttf');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.navbar nav {
    margin-left: auto; 
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    transition: filter 0.3s ease; 
}
nav li:hover {
    background-color: rgb(32, 141, 213);
}

nav {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}


nav .logo {
    font-family: 'Monoton', cursive;
    font-size: 30px; 
    margin-right: 20px; 
    margin-left: 30px;

}

header {
    padding: 10px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.icon img {
    width: 65px;
    height: 65px; 
}


.login-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

.form-title {
    background-color: #3498db;
    color:white;
    font-size: 20px;
    font-family: 'Monoton', cursive;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 16px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.remember-forgot label {
    flex: 1;
    margin-left: 25px;
    position: absolute;
}

.remember-forgot input {
    margin-right: 220px;
}

.forgot-password {
    color: #3498db;
    text-decoration: none;
    cursor: pointer;
    margin-left: -50px;
    white-space: nowrap;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d3d0d0;
}

.login-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #2980b9;
}

.login-form .close-btn {
    background-color: #ecf0f1;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form .close-btn:hover {
    background-color: #bdc3c7;
}

.login-form #userType {
    margin-bottom: 20px;
}

.profile-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3498db;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin: 0; 
    margin-bottom: 10px;
    flex-grow: 1;
}

.button-container {
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.action-button {
    flex: 1;
    padding: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
}

#addbutton {
    margin-left: 10px;
}


.profile-btn img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.profile-btn:focus {
    outline: none;
}

main {
    display: flex;
    margin: 0.5in;
}

.content-container {
    display: flex;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

.m-container{
    flex: 1;
    position: relative;
}

.container-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid black !important;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 3pc;
}

button:hover {
    background-color: #3498db;
}

th, td {
   border: 1px solid #dddddd;
    padding: 12px;
   text-align: left;
}

th {
   background-color: #6fa9cf;
   font-weight: bold;
   text-transform: uppercase;
}

tr:hover {
  background-color:lightgray;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 0.5in 0;
}
