@font-face {
    font-family: 'Monoton';
    src: url('assets/fonts/Monoton-Regular.ttf') format('ttf'); 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; 
}

nav {
    background-color: #3498db; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5in;
}

nav .logo {
    font-family: 'Monoton', cursive;
    font-size: 65px; 
}

.login-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3498db;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}

.login-btn img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.login-btn:focus {
    outline: none;
}

.login-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

.form-title {
    background-color: #3498db;
    color:white;
    font-size: 20px;
    font-family: 'Monoton', cursive;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 16px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.remember-forgot label {
    flex: 1;
    margin-left: 25px;
    position: absolute;
}

.remember-forgot input {
    margin-right: 220px;
}

.forgot-password {
    color: #3498db;
    text-decoration: none;
    cursor: pointer;
    margin-left: -50px;
    white-space: nowrap;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d3d0d0;
}

.login-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #2980b9;
}

.login-form .close-btn {
    background-color: #ecf0f1;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form .close-btn:hover {
    background-color: #bdc3c7;
}

.profile-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3498db;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}

.profile-btn img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.profile-btn:focus {
    outline: none;
}

main {
    margin: 0.5in;
}

.video-container {
    border: 0.5cm solid #000000; 
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 0.5in 0;
}
